<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado</title>
    <link rel="stylesheet" href="./css/login.css">
</head>
<body>
    <header>
        <h1>Bem Vindo ao SAEP</h1>
    </header>
    <main>
        <form action="/cadastro" method="post">
            <div class="inputs">
                <div class="username">
                    <label for="l-username">Usuário &nbsp;</label>
                    <input type="text" name="username" id="username" required>
                </div>
                <div class="password">
                    <label for="l-password">Nova Senha &nbsp;</label>
                    <input type="password" name="password" id="password">
                </div>
            </div>
            <div class="form-button">
                <button class="button-input" type="submit" >Enviar</button>
                <p>Já tem Conta? <a href="/login">Loga-se</a></p>
            </div>
        </form>
    </main>
    <footer>
        <ul>
            <li><a href="#">Contato do Suporte</a></li>
        </ul>
    </footer>
    <script src="./js/login.js"></script>
</body>
</html>