* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    height: 100vh;
    width: 100vw;
    background-color: bisque;
}

header {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.7);
    color: white;
}

main {
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: rgb(255, 255, 255, 0.7);
    height: 70%;
    width: 500px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px -1px;
}

.inputs {
    
    height: 75%;
}

.username, .password {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-button{
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

footer {
    height: 10%;
    background-color: rgb(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}