* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

header {
    height: 20%;
}

main {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: rgb(255, 255, 255, 0.8);
}

footer {
    height: 10%;
}